:root {
    --cor-principal: #1db954; 
    --cor-fundo: #2b2b2b; 
    --cor-fundo-crgb:(44, 44, 44)81818; 
    --cor-texto: #d1a851;
    --cor-texto-secundaria: #e7bf4f;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', 'Times New Roman';}

body {
    background-color: black;
    color: var(--cor-texto);
}
.container {
    display: flex;
    height: calc(100vh - 90px); 
}

.main-content {
    flex-grow: 1; 
    background-color: var(--cor-fundo);
    overflow-y: auto;
    padding: 20px;
}
.sidebar {
    width: 250px; 
    background-color: black;
    padding: 20px;
}

.nav-links li {
    list-style: none;
    padding: 10px 0;
}

.nav-links a {
    color: var(--cor-texto-secundaria);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.nav-links a:hover {
    color: var(--cor-texto);
}

.card-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.card {
    background-color: var(--cor-fundo-card);
    padding: 15px;
    border-radius: 8px;
    width: 180px;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #282828;
}

.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    border-radius: 5%;
    background-color: rgb(29, 29, 29);
    outline: black;
    color: white;
}

.lulinha{
    
}